body{
    margin:0;
    background-color: #fff;
}
.header-bar {
    color: #fff;
    padding: 10px;
   

   
  }
header::after{
    content: '';
    display: table;
    clear: both;
  }
.logo{
    float: left;
    padding: 10px 0;
}
  nav {
    float:right;

    display: flex;
    justify-content: left;
    float: left;
  }

  nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    
  }

  nav li {
    display: inline-block;
    margin: left 70px;
    padding-top: 25px;
    position: relative;
  }
  nav a{
    color: #000000; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
  }
  nav a:hover{
    color: #d7d7d7;
  }
  nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 0%;
   padding-top: 1rem;
    background-color: bisque;

    position: absolute;
    
  }
  nav a:hover::before{
    width: 100%;
  }

  
  
  .login-section{
    display: flex;
    text-align: center;
  }

  .login-section img {
    float: right;
    padding: 10px 0;
    
  }

.container{
    display: flex;
    flex:1;
    justify-content: center;
    margin-left: 5rem;
    margin-right: 5rem;

}

.leftcontainer{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 40%;
    display: flex;
    justify-content: center;
  }
  .login{
    font-size: 3rem;
  }
  .username{
   font-size: larger;
  }
  .resetpwd{
    margin-top: 0rem;
    font-size: 1rem;
  }
  .password{
    margin-bottom: 0rem;
  }
  .signup{
    margin-bottom: 0rem;
    font-size: 1.2rem;
    margin-top: 0.2rem;
  }
  
  #login {
    display: block;
    margin: 0 auto;
    padding: 8px 80px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 25px;
   
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  #login:hover {
    background-color: #ebeaea;
  }

.rightcontainer{
    /* padding-top: 100px; */
    margin: 0 0;
    text-align: center;
    margin-top:auto;
    margin-bottom:auto;
    /* margin: 0 auto; */
    /* padding-left: 50px; */
    /* float: right; */
    width: 40%;
  }
.inputtype{
    padding: 0.5rem;
    border-radius: 5rem;;
}
.rightcontainer h1{
    
}

.foodlogo{
    width: 90%;

}

.footercontainer{
    display: flex;
    justify-content: center;
    clear: both;
    
  }
