.grid-container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 0.5fr;
  gap: 20px;
  height: min-content;
}

.top{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: left;
  padding-top: 10px;
}
.grid-container{

  margin-top: 1rem;
  padding: 10px;
}

table, th, tr, td{
  border: 0.1rem solid black;
  border-collapse: collapse;
}

.orderdetailtable{
  border: none;
}

.infobox{
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: 4fr auto;
  border-radius: 1rem;
  border: 1px solid black;
  margin-bottom: 1.5rem;
  padding: 1.5rem;
}

.order-container{
  display: grid;
  grid-column: 2/3;
  grid-row: 1/2;
  grid-template-rows:auto auto;
  grid-template-columns: 3.5fr 1.2fr;
}
.orderno{
  grid-row: 1 / 2;
  margin: 10px 0;
  font-size: 1.8rem;
  height: 2rem;
}
.orderDetails{
  grid-row: 2/3;
  grid-column: 1/3;
  display: grid;
  padding-bottom: 0.5rem;
}
.orderitem{
  display:grid;
  margin-top: 0.5rem;
  grid-template-columns: 1fr 3fr 0.5fr 1fr;
  grid-template-rows:1;
}
.menucode{
  grid-column: 1/2;
  grid-row: 1/2;
  text-align: left;
  font-size: 1.2rem;
}
.menuname{
  grid-column: 2/3;
  grid-row: 1/2;
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}
.quantityorder{
  grid-column: 3/4;
  grid-row: 1/2;
  text-align: center;
}
.price{
  grid-column: 4/5;
  text-align: right;
}
.line{
  border-top: 1rem;
  border-top: 1px solid black;
  grid-row: 2/3;
  grid-column: 1/3;

}
.total{
  grid-row: 2/3;
  grid-column: 2/3;
  text-align: center;
   margin: 10px 0;
   padding-left: 4rem;
  font-size: 1.4rem;
}
.TotalPrice{
  grid-row: 2/3;
  grid-column: 2/3;
  padding-left: 1.5rem;
  text-align: right;
  margin: 10px 0;
  font-size: 1.4rem;
}
.foodimg{
  grid-column-start: 1;
  grid-column-end: 2; 
  grid-row: 1/2; 
  display:flex;
  justify-content: center;
  align-items: center;
}

.foodimg img{
  margin: 10px;
  width: 10rem;
  height: 9rem;
  
}



  

  
  
  
