.grid-container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 0.5fr;
  gap: 20px;
  padding-top: 100px; /*container up padding*/
  height: min-content;
}

.top{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: left;
  padding-top: 10px;
}

.table-container {
  border: solid black;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 20px;
}

table {
  border: 1px black;
}

th {
  text-align: left;
  padding: 10px 0;
  
}

td {
  text-align: left;
  padding: 10px 0;
  
}


