* {
 margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
  
  background: #fff;
  margin: auto;
  display: flex;
  flex:1;
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin-left: 5rem;
  margin-right: 5rem;

}


.leftcontainer{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 40%;
    display: flex;
    justify-content: center;
  }
  .logina{
    font-size: 3rem;
    margin-bottom: 1.3rem;
  }
  .userid{
   font-size: larger;
   margin-bottom: 1.0rem;
  }
  .resetpwd{
    margin-top: 1rem;
    font-size: 1rem;
    margin-bottom: 1.3rem;
    
  }
  /* a:{
    color: black;
    cursor: pointer;
    text-decoration: underline;
} */
  .password{
    margin-bottom:0;
  }
  .signup{
    margin-bottom: 0.5rem;
    font-size: 1.0rem;
    margin-top: 0.5rem;
  }
 
  #login {
    display: block;
    margin: 0 auto;
    padding: 8px 80px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 25px;
   
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  #login:hover {
    background-color: #ebeaea;
  }

.rightcontainer{
  
    margin: 0 0;
    text-align: center;
    margin-top:auto;
    margin-bottom:auto;
  
    width: 40%;
  }
.inputtype{
    padding: 0.5rem;
    border-radius: 5rem;;
}

.foodlogo{
    width: 90%;

}

.footercontainer{

    display: flex;
    justify-content: center;
    
    
  }
