* {
 margin: 0;
  padding: 0; 
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.container {
  
  background: #fff;
  margin: auto;
  display: grid;
  grid-template-columns: 0.6fr 1.4fr 2fr;
  justify-content: center;
  padding-top: 8rem;
  padding-bottom: 8rem;
  margin-left: 5rem;
  margin-right: 5rem;
  
}


.leftcontainer{
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 40%;
  grid-column-start: 2;
    grid-column-end: 3;
  }
  .logina{
    font-size: 3rem;
    margin-bottom: 1.3rem;
  }
  .userid{
   font-size: larger;
   margin-bottom: 1.0rem;
  }
  .resetpwd{
    margin-top: 1rem;
    font-size: 1rem;
    margin-bottom: 1.3rem;
    
  }
  /* a:{
    color: black;
    cursor: pointer;
    text-decoration: underline;
} */
  .password{
    margin-bottom:0;
  }
  .signup{
    margin-bottom: 0.5rem;
    font-size: 1.0rem;
    margin-top: 0.5rem;
  }
 
  #login {
    display: block;
    margin: 0 auto;
    padding: 8px 80px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 25px;
   
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  #login:hover {
    background-color: #ebeaea;
  }

  .rightcontainer{

    margin: 0 0;
   text-align: center;
    margin-top:auto;
    margin-bottom:auto;
    grid-column-start: 3;
    grid-column-end: 5;

    width: 40%;
    grid-template-rows: 1fr;
    
  }

  .inputtype{
    padding: 0.5rem;
    border-radius: 5rem;
    margin-top: 0.5rem;
}
.button{
}
.foodlogo{
  align-items: center;
  padding-left: 3rem;
  padding-bottom: 1.5rem;
}
.foodcontainer{
display: grid;
}

.footercontainer{

    display: flex;
    justify-content: center;
    
    
  }
