.grid-container1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.5fr 0.5fr;
  gap: 20px;
  height: min-content;
}

.top{
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  text-align: left;
  padding-top: 10px;
}

.grid-container1 .search{
  grid-column: 3 /4;
  align-items: right;
  display: flex;
  justify-content: flex-end;

}

.table-container {
  min-width: 800px;
}

table, th, tr, td{
  border: 0.1rem solid black;
  border-collapse: collapse;
}

th{
  text-align: center;
  padding: 10px 0;
  
}

td {
  text-align: left;
  padding: 0.8rem 0.8rem;
  
}

.orderDetails td{
  border: none;
  padding: 0.5rem 0.2rem;
}

/*search box====================================================*/
* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.search .search-container {
  float: left;
}

.search input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 13px;
  border: 0.5px solid rgb(152, 152, 152);
}

.search .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.search .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .search .search-container {
    float: none;
  }
  .search a, .search input[type=text], .search .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .search input[type=text] {
    border: 1px solid #ccc;  
  }
}